<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <base href="/">
    <script src="jquery-3.6.0.js"></script>
    <script src="changePasswordjs.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/changePasswordcss.css">
</head>
<body>
    <div class="navbar"> <%- include('./partial/nav.ejs')%></div>
    <div class=mainContainer>
    <div class="changepassmain">
    <form action="/edit-profile/changePassword" method="post">
        <div class="formTitle"><h1>Change Your Password</h1></div>
        <div class="userdetails" id="pwdcontainer"> <label for="psw"><b>current Password</b></label>
            <input type="password" placeholder="Enter current Password" name="psw"><span><%=errmsg%></span></div><br>

            <div class="userdetails" id="newpwdcontainer"> <label for="newpsw"><b>new Password</b></label>
                <input type="password" placeholder="Enter new Password" name="newpsw"><span><%=errmsg1%></span></div><br>

                     
            <div class="editformbtn">
                <div> <button type="submit">update profile</button></div>
                </div>
    


    </form>
    </div></div>
</body>
</html>