<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <base href="/">
    <script src="jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="./css/discovercss.css">

    <script src="discoverjs.js"></script>
</head>
<body>
    <div class="homenavbar"> <%- include('./partial/nav.ejs')%></div>
    <div id="links">
        <div id="navlink">
            <li><a href="/home">home</a></li>
            <li><a href="/discover">Discover</a></li>
            <li><a href="/leaderBoard/allTime">LeaderBoard</a></li>
            
        </div>
        </div>

        <div class="headings"><p>Explore through categories</p></div>
   <div id="CategorisDisplay">
   


   

</div>
</body>
</html>