<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <base href="/">
    <script src="jquery-3.6.0.js"></script>
    <script src="register.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/signupcss.css">
</head>
<body>
  <div class="formcontainer">
    <form id="registrationform" action="/downloader/Dregister" method="post" autocomplete="off"> 
        <div class="container">
          <div> <h1>Sign Up</h1>
          <p>Please fill in this form to create an account.</p></div>
          <hr>
         <div class="userdetails" id="fnamecontainer"> 
          <input type="text" placeholder="Enter firstname" name="firstName" ><span></span></div><br>

         <div class="userdetails" id="lnamecontainer"> 
          <input type="text" placeholder="Enter lastName" name="lastName" ><span></span></div><br>
      
          <div class="userdetails" id="emailcontainer">
          <input type="text" placeholder="Enter Email" name="email" required><span></span></div><br>
      
         <div class="userdetails" id="pwdcontainer"> 
          <input type="password" placeholder="Enter Password" name="psw" required><span></span></div><br>

          <div class="userdetails" id="confirmpwdcontainer">
            <input type="password" placeholder="confirm Password" name="confirmpsw" required><span></span></div><br>
        
      
         
      
          <div class="clearfix">
            
            <button type="submit" class="signupbtn">Sign Up</button>
            <a href="/login">Login</a>
          </div>
        </div>
      </form>
  </div>
</body>
</html>