<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./css/prelogincss.css">
</head>
<body>
    <div class="splitter">
    <div class="disimg"><h1>Start your journey with Clicker <br><span>Today</span></h1><br><p>Select the account you want to create</p></div>
    <div class="container">
    
    <div class="maincontainer">
        <div class="mainTitle"></div>
       <div class="subcontainer1"><div id="downloaderbtn"><button onclick="location.href = '/downloader/Dregister'">downloader</button></div></div>
       <div class="subcontainer2"><div id="contributorbtn"><button onclick="location.href = '/contributor/Cregister'">contributor</button></div></div>
    </div>

</div>
</div>
</body>
</html>