<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <base href="/">
    <script src="jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="./css/collectioncss.css">
    <script src="homecommonjs.js"></script>
</head>
<body>
    <div class="homenavbar"> <%- include('./partial/nav.ejs')%></div>
    <div id="collectionMainContainer">
    <div id="collectionDetails">
        <div class="collectionN"><%=CategorieName%></div>
    </div>
   
        <div id="displayCollectionImage">
        <div id="image-display-container">
        
        
      
        
            <%for(var i=0;i<photoUrl.length;i++){%>
             
              <div class="displayImage">
                  <img src="<%=photoUrl[i].photo_url%>" >
                  <div class="overlaydownload">
                      <div class="downloadi">
                          <img src="./icons/downloadicon.png" class="downloadicon">
                          <div class="subdownloadi"></div>
                      </div>
                  </div>
                  
              </div>
              <%}%>
              
       </div>
    </div>
    </div>
</body>
</html>