*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

.navbar{
    width:100%;
    height:50px;
    
}

.mainContainer{
    width:100%;
   
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
align-self: center;
}

.changepassmain{
    width:40%;
    border:2px solid rgb(230, 224, 224);
    margin-top:130px;
  
}



.changepassmain form{
    padding:18px;
    width:100%;
}

.formTitle{
    margin:25px 0px;
    display:flex;
    justify-content: center;
}

.userdetails{
    width:100%;
}

.userdetails label{
    display:block;
    font-size:16px;
}

.userdetails input{
    width:100%;
    height:50px;
    font-size:16px;
    padding-left:6px;
    margin-top:10px;
}


.editformbtn{
    width:100%;
   
    display:flex;
    flex-direction: row;
}

.editformbtn div{
    width:100px;
    height:40px;

}

.editformbtn div button{
    border:none;
    width:100%;
    height:100%;
    background: green;
    color:white;
}